<?xml version="1.0"
      encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <targets>
    <target xsi:type="File"
            name="loggingFile"
            fileName="c:\temp\prod.log"
            layout="${date}|${level:uppercase=true}|${message}|${logger}|${all-event-properties}" />
    <target name="targetName"
            xsi:type="Mail"
            smptServer="yourserver"
            smtpPort="yourport"
            smtpAuthentication="Basic"
            smtpUserName="yourusername"
            smtpPassword="yourpassword"
            enableSsl ="true"
            from="noreply@yourserver"
            to="youremailaddress"
            subject="Production log messages">
    </target>
  </targets>
  
  <rules>
    <logger name="*"
            minLevel ="Warn"
            writeTo="loggingFile" />
    <logger name="*"
            minLevel ="Warn"
            writeTo="targetName" />
  </rules>
  
</nlog>