<?xml version="1.0"
      encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <targets>
    <target xsi:type="File"
            name="loggingFile"
            fileName="c:\temp\dev.log"
            layout="${date}|${level:uppercase=true}|${message}|${logger}|${all-event-properties}" />
  </targets>

  <rules>
    <logger name="*"
            minLevel ="Warn"
            writeTo="loggingFile" />
  </rules>
  
</nlog>